.m-t-8px {
  margin-bottom: 8px !important;
}
.f-s-64px {
  font-size: 48px;
  text-align: center;
  margin-bottom: 24px;
}

.form-popup {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(51, 51, 51, 0.4);
}

.form-container {
  padding: 16px 32px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 680px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.form-container .form-container_header {
  font-size: 44px;
  text-align: center;
}

.form-container .item-form-popup {
  width: 100%;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 16px;
  margin: 5px 0 16px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
.error-message-password {
  color: red;
}
@media screen and (max-width: 690px) {
  .form-container {
    padding: 4px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 96%;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .form-container .form-container_header {
    font-size: 24px;
  }
}
