.f-s-20px{
    font-size: 20px;
}

.log-list {
    
}
.log-list>div:nth-child(odd) {
    background-color:#ccc;
}
.log-item {
    margin-bottom: 12px;
    padding: 32px 12px;
}

.flex-row.log-lazy {
    display: flex;
    width: 100%;
    justify-content: space-between;
}