.f-s-16px {
  font-size: 16px;
}
.form-nap-tien-container {
  padding: 16px 32px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  min-height: 60vh;
  max-height: 75vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.form-nap-tien-container .input-money {
  padding: 6px 12px;
  margin: 4px 0 8px;
}

.form-nap-tien-container .btn {
  padding: 6px 12px;
  margin-bottom: 4px;
  transition: 1s;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.form-nap-tien-container .btn.nap{
  color: #2BD47D;
  border: 1px solid #2BD47D;
}
.form-nap-tien-container .btn.nap:hover{
  color: white;
  background-color:#2BD47D;
}

.form-nap-tien-container .btn.cancel{
  color: #e02020;
  border: 1px solid #e02020;
}
.form-nap-tien-container .btn.cancel:hover{
  color: white;
  background-color:#e02020;
}
.form-nap-tien-container .loader-center-lazy {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-nap-tien-container .thongbao-lazy{
  font-size: 16px;
  padding: 4px 0;
}


@media screen and (max-width: 720px) {
  .form-nap-tien-container {
    width: 98%;
  }
}

.abcdefg {
  display: flex;
    align-items: center;
    flex-direction: column;
}